<div class="container">
   
  
  <div class="wrapper">
    	
<header id="header">
  
  <h1 style ="color:bisque">CodeTribe Employee List</h1>
  <br>
<br>
  <form class=""  (submit)="loginUser($event)">
    <h3 >Log In</h3>
    <div *ngIf="error != ''"><p class="error"  ><strong></strong><br><span>{{error}}</span></p></div>
    <small><a href="#" class="fpassword">Forgot Password</a></small>
      <div class="form-group">
        <div class="feedback"><i class="fas fa-user"></i></div>
        <input type="text" placeholder="Username" id="username" required>
      </div>
      <div class="form-group">
          <div class="feedback"><i class="fas fa-lock"></i></div>
        <input type="password" placeholder="Password" id="password" required>
      </div>
      <div class="form-group"><br>
        <button type="submit" class="btn-submit">
            <i class="fas fa-sign-in-alt" style="font-size:15px"></i> Log In
        </button>
      </div>
      <br><small><a routerLink="/sign-up" class="fpassword">do not have an account? <strong>Sign Up</strong></a></small>
  </form>
</header>
<!-- Jssor Slider End -->





</div>
        
      
        
    
    
  </div>
 